importar pandas para la limpieza de datos y luego leer los archivos csv.

In [1]:
import pandas as pd

In [2]:
df_matches = pd.read_csv("mundiales.csv")
df_qatar = pd.read_csv("mundialQatar.csv")

Limpiamos los datos de local y visitante, la importancia de este paso es que no tengan espacios entre si para evitar errores. Tambien vamos a hacer pequeños ajustes a algunos datos que nos van a afectar nuestro modelo.

In [3]:
df_matches.local = df_matches['local'].str.strip()
df_matches.visitante = df_matches['visitante'].str.strip()

In [4]:
#w/o[a] significa que el equipo contrario no se presentó, y automaticamente pone el resultado como 3-0, eso podria generar un sesgo en los datos
#asi que lo eliminamos ya que no nos sirve para el analisis.
df_matches.drop(index = df_matches[df_matches.resultado == 'w/o[a]'].index, inplace = True)

In [5]:
df_matches[df_matches['resultado'].str.contains('[^\d–]')]

           local     resultado       visitante   año
24       Austria  3–2 (a.e.t.)          France  1934
27         Italy  1–1 (a.e.t.)           Spain  1934
34         Italy  2–1 (a.e.t.)  Czechoslovakia  1934
35   Switzerland  1–1 (a.e.t.)         Germany  1938
38          Cuba  3–3 (a.e.t.)         Romania  1938
..           ...           ...             ...   ...
887        Spain  1–1 (a.e.t.)          Russia  2018
888      Croatia  1–1 (a.e.t.)         Denmark  2018
892     Colombia  1–1 (a.e.t.)         England  2018
896       Russia  2–2 (a.e.t.)         Croatia  2018
898      Croatia  2–1 (a.e.t.)         England  2018

[68 rows x 4 columns]

In [6]:
df_matches['resultado'] = df_matches['resultado'].str.replace('[^\d–]','',regex=True)

In [7]:
df_matches[df_matches['resultado'].str.contains('[^\d–]')]
df_matches.resultado = df_matches['resultado'].str.strip()

In [8]:
#luego de limpiar los datos, separamos el resultado en dos columnas, una para el resultado del local y otra para el visitante
#tambien hicimos la limpieza de los datos en los resultados donde no nos entregaba el resultado sino cadenas de texto
df_matches[['resultado_local','resultado_visitante']] = df_matches['resultado'].str.split('–',expand=True)

In [9]:
df_matches

         local resultado visitante   año resultado_local resultado_visitante
0       France       4–1    Mexico  1930               4                   1
1    Argentina       1–0    France  1930               1                   0
2        Chile       3–0    Mexico  1930               3                   0
3        Chile       1–0    France  1930               1                   0
4    Argentina       6–3    Mexico  1930               6                   3
..         ...       ...       ...   ...             ...                 ...
896     Russia       2–2   Croatia  2018               2                   2
897     France       1–0   Belgium  2018               1                   0
898    Croatia       2–1   England  2018               2                   1
899    Belgium       2–0   England  2018               2                   0
900     France       4–2   Croatia  2018               4                   2

[900 rows x 6 columns]

In [10]:
df_matches.drop('resultado',axis=1,inplace=True)

In [11]:
#cambiamos el tipo de estas columnas de type "object" a "int"
df_matches = df_matches.astype({'resultado_local': int ,'resultado_visitante': int })

In [12]:
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900 entries, 0 to 900
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   local                900 non-null    object
 1   visitante            900 non-null    object
 2   año                  900 non-null    int64
 3   resultado_local      900 non-null    int32
 4   resultado_visitante  900 non-null    int32
dtypes: int32(2), int64(1), object(2)
memory usage: 35.2+ KB

Guardamos los datos para poder usarlos en el siguiente paso.

In [13]:
df_matches.to_csv('mundiales_clean.csv',index=False)